#forms {
  background-color: rgba(255, 255, 255, 0.808);
}

#forms input {
  margin: 20px;
  padding: 5px;
  font-size: 13pt;
  border: 1px rgba(0, 0, 0, 0.568) solid;
  border-radius: 3px;
}

#forms label {
  font-size: 16pt;
}

.response {
  margin-left: 20px;
}

.btn {
  border-radius: 10px;
  background-color: rgba(137, 43, 226, 0.856);
  border-style: hidden;
  padding: 8px;
  margin: 10px;
  transition: transform 1seg ease-in;
}

.btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.btn:focus {
  outline-style: none;
}

/*Grid*/
.gridForm {
  display: grid;
  grid-template-columns: 280px 280px 280px;
  grid-auto-rows: 250px;
}

.picInfo {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}

.gen_info {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  margin-top: 100px;
}

.infos {
  grid-column-start: 2;
}

#urlpic {
  margin: 0px;
}

.moreInfos {
  grid-row: 1;
  grid-column: 3;
}

.comInfo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  margin-top: 50px;
}

.input_info {
  margin-top: -45px;
}

.com_grid {
  resize: none;
}

@media screen and (max-width: 1024px) {
  #forms label {
    margin-top: 20px;
    font-size: 11pt;
  }

  .com_grid {
    width: 400px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }

  .gridForm {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 150px;
  }

  #forms {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  #forms {
    margin: auto;
  }
  .picInfo {
    grid-column: 1;
    grid-row: 1;
  }

  .infos {
    grid-column: 3;
    grid-row: 1;
  }
  .moreInfos {
    grid-column: 2;
    grid-row-start: 1;
  }
  .comInfo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
  }

  .center {
    padding-top: 0px;
    margin-top: -130px;
  }

  .response {
    height: 25px;
    width: 25px;
  }

  #rodape {
    padding-top: 30px;
  }

  .center {
    padding-top: 190px;
  }

  #forms input {
    margin: 10px;
    padding: 5px;
    width: 150px;
    font-size: 11pt;
    border: 1px rgba(0, 0, 0, 0.568) solid;
    border-radius: 3px;
  }
}

@media screen and (max-width: 650px) {
  .picInfo {
    grid-column: 1;
    grid-row: 1;
  }

  .gen_info{
    grid-column: 1;
    grid-row: 2;
    margin-left: -80px;
  }

  .infos {
    grid-column: 1;
    grid-row: 3;
  }
  .moreInfos {
    grid-column: 1;
    grid-row-start: 4;
  }
  .comInfo {
    margin-top: 0px;
    grid-column: 1;
    grid-row: 5;
  }

  .gridForm {
    display: grid;
    grid-template-columns: 250px;
    grid-auto-rows: 250px;
  }
  .com_grid {
    width: 200px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }

  .center{
    margin-top: -250px;
  }
}
