@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');

body {
  font-family: 'Luckiest Guy', cursive;
  background-color: #694b91;
  background-image: url('images/back.jpg');
}

.alertPop{
  display: none;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -10px;
  margin-right: 0px;
  padding: 10px;
  width: 300px;
  height: 120px;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  background-image: url('./images/back.jpg');
  background-color: rgba(255, 255, 255, 0.822);
}

#favorite {
  cursor: pointer;
}

.contact_info:focus {
  outline-style: none;
}

.contact_info {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30%;
  margin-top: -10px;
  margin-right: 0px;
  padding: 10px;
  width: 825px;
  height: 525px;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  background-image: url('./images/back.jpg');
  background-color: rgba(255, 255, 255, 0.822);
}

#contatos {
  margin: auto;
  padding-top: 150px;
}

#lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#lista li {
  list-style: none;
  width: 400px;
  height: 200px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/*Animação de zoom*/
.optLista {
  transition: transform 0.2s;
  background-color: rgba(255, 255, 255, 0.842);
}

.optLista:hover {
  transform: scale(1.1);
  background-color: white;
}
/* fim da animação*/

/*Imagens dos cards*/
.picCont {
  height: 130px;
  width: 130px;
  border-radius: 60px;
  margin: 10px 0px 0px 10px;
}

#icones {
  margin-left: -10px;
}

img.close {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  transition: transform 0.2s;
}

img.icon {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: 30px;
  transition: transform 0.2s;
}

img.icon:hover {
  transform: scale(1.2);
}

/*Configurando estilo do navbar*/
#menu {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#menu h1 {
  font-size: 30pt;
  margin-top: 10px;
  margin-bottom: 0px;
}

#menu #opt {
  margin: 0px;
  transition: margin 0.5s;
}

#opt a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

#opt a:hover {
  color: #9ba9b4;
  font-size: 25pt;
}

#menu li {
  font-size: 13pt;
  list-style: none;
  display: inline-block;
  margin-left: auto;
  margin-right: 30px;
}

/*Estilizando rodapé*/

#rodape {
  clear: both;
}

#rodape p {
  text-align: center;
}

/*Card de contato*/

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 67px;
  height: 200px;
  text-align: center;
}

.grid-row-5 {
  grid-template-areas:
    'sidenav content content'
    'sidenav content content'
    'footer content content';
}

.favIcon {
  grid-column: 3;
  grid-row: 3;
  padding: 0px 10px 10px 0px;
}

.grid-row-5 .item-2 {
  grid-column: 1;
  grid-row-start: sidenav;
  grid-row-end: sidenav;
}

.grid-row-5 .item-3 {
  grid-column: 3;
  grid-row: content;
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-row-5 .item-5 {
  grid-row: footer;
}

/*Pagination*/

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.close,
.icon {
  cursor: pointer;
}

.pagination a {
  cursor: pointer;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #694b91;
  color: white;
  border: 1px solid #694b91;
}

.pagination a:hover:not(.active) {
  background-color: rgb(183, 160, 212);
}

#divBusca {
  background-color: #694b91;
  border: solid 1px;
  border-radius: 15px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#txtBusca {
  float: left;
  background-color: transparent;
  color: black;
  padding-left: 5px;
  font-style: italic;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 260px;
}

/*Responsividade*/
@media screen and (max-width: 1024px) {
  #lista li {
    list-style: none;
    width: 250px;
    height: 125px;
    font-size: 8pt;
  }

  .optLista:hover {
    transform: scale(1.2);
  }

  .picCont {
    height: 80px;
    width: 80px;
    margin: 10px 0px 0px 10px;
  }

  img.icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 15px;
    padding-right: 8px;
    transition: transform 0.2s;
  }

  #icones {
    margin: auto;
  }

  #rodape {
    font-size: 5pt;
  }

  img.icon:hover {
    transform: scale(1.3);
  }

  .grid {
    grid-auto-rows: 40px;
  }

  .pagination a {
    padding: 6px 12px;
  }

  #divBusca {
    border-radius: 15px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  #txtBusca {
    padding-left: 5px;
    font-size: 14px;
    width: 160px;
  }
}
